<settings>
  <profiles>
    <profile>
      <id>test</id>
      <activation>
      <activeByDefault>true</activeByDefault>
      </activation>
  <repositories>
    <repository>
      <id>test</id>
      <name>test</name>
      <url>http://13.126.66.124:8081/repository/test/</url>
      <releases>
        <enabled>true</enabled>
      </releases>
      <snapshots>
        <enabled>true</enabled>
      </snapshots>
    </repository>
  </repositories>
  <pluginRepositories>
    <pluginRepository>
      <id>test</id>
      <name>test</name>
      <url>http://13.126.66.124:8081/repository/test/</url>
      <releases>
        <enabled>true</enabled>
      </releases>
      <snapshots>
        <enabled>true</enabled>
      </snapshots>
    </pluginRepository>
  </pluginRepositories>
    </profile>
  </profiles>
<servers>
  <server>
    <id>test</id>
    <username>admin</username>
    <password>admin1</password>
  </server>
</servers>
</settings>
